@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.5208333333vw;
  background-color: #fff;
}
html.js-lock {
  overflow: hidden;
}
@media only screen and (max-width: 1440px) {
  html {
    font-size: 0.6944444444vw;
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 1.1990407674vw;
  }
}
@media only screen and (max-width: 580px) {
  html {
    font-size: 2.5445292621vw;
  }
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #ffffff;
}
body.js-lock {
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper {
  max-width: 117rem;
  margin: 0 auto;
  background-color: #A6C9FF;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 6.4rem;
}
@media only screen and (max-width: 992px) {
  .container {
    padding: 0 2.4rem;
  }
}
@media only screen and (max-width: 580px) {
  .container {
    padding: 0 1.6rem;
  }
}

input,
textarea,
button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  color: inherit;
  font-family: inherit;
}

button {
  font-size: inherit;
}

main {
  display: block;
}

a {
  color: inherit;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration: none;
}

.inline {
  font-size: 0;
}
.inline > * {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 100%;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}
.clear__left {
  float: left;
}
.clear__right {
  float: right;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex_inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flex_justify {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex_left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flex_bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flex_vertical {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.css-text-left {
  text-align: left;
}

.css-text-center {
  text-align: center;
}

.css-text-right {
  text-align: right;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
}

.object-fit {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.css-scrollbar {
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.css-scrollbar::-webkit-scrollbar {
  width: 3px;
}
.css-scrollbar::-webkit-scrollbar-track {
  background: rgba(196, 196, 196, 0.4);
}
.css-scrollbar::-webkit-scrollbar-thumb {
  background: gray;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mobile-show {
  display: none;
}
@media only screen and (max-width: 580px) {
  .mobile-show {
    display: block;
  }
}

.desktop-show {
  display: block;
}
@media only screen and (max-width: 992px) {
  .desktop-show {
    display: none;
  }
}

.btn {
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 2.4rem;
  color: #fff;
  padding: 1.5rem 2.5rem;
  background-color: #FF4B4B;
  border-radius: 2.5rem;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.btn:hover {
  -webkit-box-shadow: 0.2rem 0.5rem 1rem #497957;
          box-shadow: 0.2rem 0.5rem 1rem #497957;
}
@media only screen and (max-width: 580px) {
  .btn {
    font-size: 2rem;
  }
}

.slider-container {
  position: relative;
  width: 100%;
  min-height: 17.5rem;
  overflow: hidden;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.slide {
  min-width: 100%;
  min-height: 17.5rem;
  padding: 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 580px) {
  .slide {
    padding: 0 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.buttons button {
  background: transparent;
  border: none;
  padding: 1rem 5rem;
  cursor: pointer;
  pointer-events: visible;
}
@media only screen and (max-width: 580px) {
  .buttons button {
    padding: 1rem 2rem;
    width: 6.5rem;
  }
  .buttons button svg {
    width: 100%;
  }
}

.popup__open-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

/* Стили для оверлея попапа */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Стили для видимого оверлея */
.popup:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Стили для самого попапа */
.popup__content {
  background: #A6C9FF;
  padding: 2rem;
  border-radius: 1rem;
  width: 40rem;
  min-height: 40rem;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__title {
  font-weight: 600;
  font-size: 3rem;
}

/* Стили для кнопки закрытия попапа */
.popup__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  width: 4.3rem;
  height: 3.9rem;
  border-radius: 0.5rem;
  background-color: #497957;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger {
  width: 4.4rem;
  height: 2.4rem;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  padding: 0;
}
.hamburger span {
  display: block;
  height: 0.3rem;
  width: 100%;
  background-color: #fff;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(0.5rem, 0.5rem);
          transform: rotate(45deg) translate(0.5rem, 0.5rem);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0.5rem, -0.5rem);
          transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}

.menu__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}
@media only screen and (max-width: 580px) {
  .menu__list {
    gap: 2rem;
  }
}
.menu__item {
  font-weight: 500;
  font-size: 2.8rem;
  border-bottom: 1px solid transparent;
}
.menu__item.is-active {
  font-weight: 700;
  border-color: #ffffff;
}
@media only screen and (max-width: 580px) {
  .menu__item {
    font-size: 2rem;
  }
}

.menu-mobile {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #A6C9FF;
  padding: 3.3rem 6.5rem 5.5rem;
  z-index: 99999;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  overflow: hidden;
  opacity: 0;
}
.menu-mobile.show {
  display: block;
  opacity: 1;
}
@media only screen and (max-width: 580px) {
  .menu-mobile {
    padding: 3.3rem 3.5rem 5.5rem;
  }
}
.menu-mobile__list {
  list-style: none;
}
.menu-mobile__item {
  font-size: 2.8rem;
  margin-bottom: 3.5rem;
}

.title {
  font-size: 3rem;
}

.header {
  background-color: #B47FF6;
  position: relative;
}
.header__inner {
  min-height: 14.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 5.5rem;
}
@media only screen and (max-width: 580px) {
  .header__inner {
    padding: 2rem;
    min-height: 10rem;
  }
}
.header__menu {
  margin-left: 10rem;
}
@media only screen and (max-width: 992px) {
  .header__menu {
    margin-left: 0;
  }
}

.banner {
  margin-top: 4rem;
}
.banner__title {
  font-weight: 700;
  margin-right: 3rem;
  font-size: 4.5rem;
}
@media only screen and (max-width: 580px) {
  .banner__title {
    font-size: 4rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.services {
  margin-top: 4rem;
}
.services__title {
  margin-bottom: 4rem;
  text-align: center;
}
.services__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #BEB9FF;
  padding-bottom: 0.5rem;
}
.services__item {
  min-height: 19.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3ADE4B;
  font-size: 5.3rem;
}
.services__item:nth-child(1) {
  grid-area: 1/1/2/3;
}
.services__item:nth-child(2) {
  grid-area: 1/3/2/7;
}
.services__item:nth-child(3) {
  grid-area: 2/1/3/6;
}
.services__item:nth-child(4) {
  grid-area: 2/6/3/7;
}

.products {
  margin-top: 4rem;
}
.products__title {
  text-align: center;
  margin-bottom: 4rem;
}
.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  padding: 2.5rem;
  background-color: #D4FF5A;
  border-radius: 3rem;
  margin: 0 2.5rem;
}
@media only screen and (max-width: 580px) {
  .products__items {
    gap: 0.8rem;
    padding: 1rem;
    margin: 0 1rem;
  }
}
.products__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(20% - 2rem);
          flex: 1 1 calc(20% - 2rem);
  min-height: 19.8rem;
  border-radius: 3.5rem;
  border: 0.2rem solid #00FF4A;
  background-color: #497957;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
@media only screen and (max-width: 992px) {
  .products__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(33.333333% - 2rem);
            flex: 1 1 calc(33.333333% - 2rem);
  }
}
@media only screen and (max-width: 580px) {
  .products__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 0.8rem);
            flex: 1 1 calc(50% - 0.8rem);
  }
}
.products__item:hover {
  -webkit-box-shadow: 0.2rem 0.5rem 1rem #497957;
          box-shadow: 0.2rem 0.5rem 1rem #497957;
}

.about {
  margin-top: 4rem;
  text-align: center;
}
.about__text {
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
}

.footer {
  background-color: #D87FF6;
  color: #ffffff;
  margin-top: 4rem;
}
.footer__inner {
  min-height: 10rem;
  padding: 2rem;
  max-width: 78.5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__link {
  font-weight: 500;
  font-size: 2.8rem;
}