.hamburger {
    width: 4.4rem;
    height: 2.4rem;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    padding: 0;
    span {
        display: block;
        height: 0.3rem;
        width: 100%;
        background-color: #fff;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform-origin: center;
    }

    &.open {
        span {
            &:nth-child(1) {
                transform: rotate(45deg) translate(.5rem, .5rem);
            }
    
            &:nth-child(2) {
                opacity: 0;
            }
    
            &:nth-child(3) {
                transform: rotate(-45deg) translate(.5rem, -.5rem);
            }
        }
        
    }
}