.header {
    background-color: #B47FF6;
    position: relative;
    &__inner {
        min-height: 14.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 5.5rem;

        @include large-mobile {
            padding: 2rem;
            min-height: 10rem;
        }
    }

    &__menu {
        margin-left: 10rem;

        @include large-tablet {
            margin-left: 0;
        }
    }
}